:root{
    --vermelha: #E50914; 
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    h
}

header{
    margin-top: 10px;
}

header .logo{
 color: var(--vermelha);
 font-family: Arial, Helvetica, sans-serif;
 font-size: 40px;
 margin-left: 10px;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    color: #AAA; 
    margin-right: 10px;
    text-decoration: none;
}

header nav a:hover{
    color: #fff; 
}

/*parte filme principal*/

.anime-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0, 1.05), rgba(0,0,0, .05)100%), url('../img/houseki.png');
    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.botao{
    border: none;
    background-color: rgba(0,0,0, .6);
    color: white;
    padding: 15px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

.titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao:hover{
   background-color: white;
   color: black;
}